.navbar-brand{
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: .5rem;
}
.navbar-brand:hover{
    color:rgb(127, 127, 212);
}

.carousel img{
    height: 90vh;
}
.carousel{
    height: 90vh;
}

.bg-electronics{
    background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.3)), url(./Assets/images/electronics.jpg) no-repeat center/cover;
    align-content: center;
    text-align: center;
    margin-top: 2rem;
    h1{
            font-size: 5rem;
            text-transform: uppercase;
    }
         
}
.bg-mens{
    background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.3)), url(./Assets/images/mens.jpg) no-repeat center/cover;
    align-content: center;
    text-align: center;
    margin-top: 2rem;
    h1{
            font-size: 5rem;
            text-transform: uppercase;
    }
         
}
.bg-womens{
    background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.3)), url(./Assets/images/womens.jpg) no-repeat center/cover;
    align-content: center;
    text-align: center;
    margin-top: 2rem;
    h1{
            font-size: 5rem;
            text-transform: uppercase;
    }
         
}
.bg-jewells{
    background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0,0,0,0.3)), url(./Assets/images/jewellery.jpg) no-repeat center/cover;
    align-content: center;
    text-align: center;
    margin-top: 2rem;
    h1{
            font-size: 5rem;
            text-transform: uppercase;
    }
         
}

.card{
    height: 50vh;
}
.card img{
    height: 56%;
}

.loader {
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 40px auto; /* center */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
